In [ ]:
pip install kafka-python

In [1]:
import pandas as pd
import json
from kafka import KafkaConsumer,KafkaProducer
from time import sleep
from json import dumps,loads

In [2]:
producer = KafkaProducer(
    bootstrap_servers=['localhost:9092'],
    value_serializer = lambda x: dumps(x).encode('utf-8')
)

In [3]:
data = pd.read_csv('indexProcessed.csv')
data.head()

,Index,Date,Open,High,Low,Close,Adj Close,CloseUSD
0,HSI,12/31/1986,2568.300049,2568.300049,2568.300049,2568.300049,2568.300049,333.879006
1,HSI,1/2/1987,2540.100098,2540.100098,2540.100098,2540.100098,2540.100098,330.213013
2,HSI,1/5/1987,2552.399902,2552.399902,2552.399902,2552.399902,2552.399902,331.811987
3,HSI,1/6/1987,2583.899902,2583.899902,2583.899902,2583.899902,2583.899902,335.906987
4,HSI,1/7/1987,2607.100098,2607.100098,2607.100098,2607.100098,2607.100098,338.923013

In [ ]:
while True:
    Stockdata = data.sample(1).to_dict(orient='records')[0]
    producer.send('IBD-Projectt' , value = Stockdata)